/var/log/{{ app_name }}/*.log {
    weekly
    missingok
    rotate 5
    compress
    notifempty
    create 0750 bitnami daemon
    sharedscripts
    postrotate
       /usr/bin/systemctl restart {{ app_name }}.service {{ app_name }}.socket
endscript
}
