[Unit]
Description=gunicorn {{ app_name }} daemon
Requires=gunicorn_{{ app_name }}.socket
After=network.target

[Service]
User=bitnami
Group=daemon

ExecStart=/bin/bash -c "/opt/bitnami/apps/{{ app_name }}/venv/bin/gunicorn \
    --chdir /opt/bitnami/apps/{{ app_name }} \
    --access-logfile /var/log/gunicorn_{{ app_name }}/access.log --error-logfile /var/log/gunicorn_{{ app_name }}/error.log \
    {{ gunicorn_app }}"

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=true

[Install]
WantedBy=multi-user.target

# vim: ai et ts=4 sw=4 sts=4 nu
